body
{   
    height: auto;
    background-color:hsl(257, 40%, 49%);
    background-image: url(./images/bg-desktop.svg);
    background-size: cover;
    background-position: center; /* para que no se rompa la imagen */
    background-repeat: no-repeat;
}
header
{
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
header .logo{
    width: 170px;
    margin-top: 25px;
    margin-left: 65px;
}
main{
    display:flex;
    flex-direction: row;
    height: 550px;
    /* width: 1440px; Despues de hacer el layou con 1440 lo dejo flex bassi*/
    flex-grow: 1;
    flex-wrap: wrap;
}
main .mockup
{
    display: flex;
    margin-top: 80px;
    margin-left: 55px;
}
main .mockup__img
{
    width: 650px;
}

main .container-titulo
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 50px;   
}
main .container-titulo h1
{    
    width: 500px;
    font-weight: 100;
    font-size: 2.2rem;
    margin-top: 0;
    text-align: left;
}
main .container-titulo h2
{   
    width: 600px;
    font-family:'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.3rem;
    text-align: left;
    line-height: 2rem;
}
main .container-titulo .button
{
    align-self: flex-start;
    text-decoration: none;
    box-shadow: 5px 5px 15px #252222;
    border: none;
    margin-top: 30px;
    width: 168px;
    height: 60px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    font-family:'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    padding-top:15px ;
}
main .logos
{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    margin-top: 0px;
}
main .logos .facebook
{
    margin-left: 1150px;
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
}
main .logos .instagram
{
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
}
main .logos .twitter
{
    margin-bottom: 0px;
    margin-right: 70px;
    width: 50px;
    height: 50px;
}
